streamlit
google-genai
pydantic
python-dotenv
requests
beautifulsoup4
reportlab
groq
sqlalchemy
psycopg2-binary
python-docx
langgraph
langchain-core
langchain-community
langchain-chroma
sentence-transformers
langchain-huggingface
chromadb
ddgs
markdown