streamlit
google-genai
pydantic
python-dotenv
requests
beautifulsoup4
duckduckgo-search
reportlab
groq
sqlalchemy
psycopg2-binary
python-docx
langgraph
langchain-core
langchain-community
sentence-transformers
pgvector
psycopg2-binary
langchain-huggingface
